In [2]:
import quandl

import pandas_datareader as pdr
import pandas as pd
import numpy as np

quandl.ApiConfig.api_key = 'bNhmL6hk7a3boYd7Rbfz'

In [7]:
def get_all_symbols(to_list=True):
    '''Get all NASDAQ sybols'''
    from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
    symbols = get_nasdaq_symbols()
    symbols = symbols.reset_index()
    symbols = symbols['Symbol']
    if to_list:
        return symbols.tolist()
    return symbols

slst = get_all_symbols()
universe = quandl.get_table('SHARADAR/SF1',calendardate='2018-12-31',ticker=slst)

In [13]:
def simple_pipe(df,condition_str,collist=None):
    '''Very simple version -- using query function in pd'''
    df = df.query(condition_str)
    if collist is not None:
        collist.append('ticker')
        df = df[collist].set_index('ticker')
    return df


df = universe
spr = simple_pipe(df,'currentratio >= currentratio.quantile(.75) | currentratio <= currentratio.quantile(.25)')  
base_universe = spr 

base_universe.tail()

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
13,MMM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-25,-6866000000,36500000000,37282000000,1.370900e+10,...,582287135,588500000,6.020000e+08,55.675,23792000000,0,1637000000,243000000,40.428,6.465000e+09
15,KO,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-24,-12814000000,83216000000,88242000000,2.493000e+10,...,4256513898,4259000000,4.299000e+09,7.480,61629000000,2674000000,1623000000,2765000000,14.470,-3.852000e+09
18,INTC,MRY,2018-12-31,2018-12-29,2018-12-29,2019-10-25,-974000000,127963000000,127693250000,2.878700e+10,...,4564000000,4611000000,4.701000e+09,15.365,91614000000,0,2264000000,6562000000,19.869,1.216100e+10
24,DD,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-31,-12394000000,187855000000,188029000000,1.266550e+11,...,764740291,766992000,7.718260e+08,112.096,138704000000,178000000,1489000000,4027000000,180.842,5.334300e+10
26,CSCO,MRY,2018-12-31,2018-07-28,2018-07-28,2019-11-19,-849000000,108784000000,121206000000,6.183700e+10,...,4702882494,4837000000,4.881000e+09,10.198,74526000000,3219000000,12929000000,9589000000,15.407,3.480200e+10

In [19]:
nest_dict = { 
    'FILT': {
        'cond1':df['workingcapital'] > 5000000,  
        'cond2':df['sps'] > 50,
        #'cond3':df['currentratio'] > 1.5, #top_25, -- used this in base_univ instead.
    },
    'COLS': { 
        'col1' : 'workingcapital',
        'col2': 'ticker',
        'col3':'sps',
    },
    
    'INDIC': { 
        'm1': df['currentratio'].quantile(.50),
        'tst': df['currentratio'] > nest_dict['INDIC']['m1'],
        't2': df['de'].mean()
        
    },
    'BASE':base_universe
}


def make_pipe(df,pipe_dict,ret_all=True):
    '''
    Create DF using pipeline dict -- 
    if ret_all is false, returns only explicit columsn in COLS
    '''
    f = pipe_dict['FILT']
    c = pipe_dict['COLS']
    ic = pipe_dict['INDIC']
    df = base_universe
    
    #Add indicators
    for k,v in ic.items(): 
        df[str(k)] = v
        
    #Try filters? Think these worked?!
    for k, v in f.items():
        df = df[v]
        
    if ret_all is False:    
        cols = [i for i in c.values()]
        df = df[cols]
        df = df.set_index('ticker') 
    return df


make_pipe(base_universe,nest_dict)

/Users/zoakes/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/zoakes/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,m1,tst,t2
None,,,,,,,,,,,,,,,,,,,,,
13,MMM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-25,-6866000000,36500000000,37282000000,1.370900e+10,...,55.675,23792000000,0,1637000000,243000000,40.428,6.465000e+09,1.2085,True,13.013548
24,DD,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-31,-12394000000,187855000000,188029000000,1.266550e+11,...,112.096,138704000000,178000000,1489000000,4027000000,180.842,5.334300e+10,1.2085,True,13.013548

In [34]:
'''Create a merged df with OHLC'''

qsecs = universe['ticker'].tolist()

def merge_prices_funds(sec_list,df):
    #df = df.set_index('ticker')
    CLOSE_DICT = {}
    for sec in sec_list:
        temp = pdr.DataReader(sec,'yahoo','2019').tail()
        c = temp['Close'].iloc[-1]
        CLOSE_DICT[sec] = c
        df.loc[sec,'close'] = c
    return df

    
df2 = universe.set_index('ticker')
df2.loc['XOM','taxliabilities']



merge_prices_funds(qsecs,df2)

,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,assetsnc,...,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,close
ticker,,,,,,,,,,,,,,,,,,,,,
XOM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-06,-19564000000,346196000000,349610000000,4.797300e+10,2.982230e+11,...,4233807170,NaN,68.546,346196000000,0,9532000000,29856000000,81.769,-9.165000e+09,68.129997
WMT,MRY,2018-12-31,2019-01-31,2019-01-31,2019-09-06,-11542000000,219295000000,214216750000,6.189700e+10,1.573980e+11,...,2929000000,2.945000e+09,175.625,188114000000,0,4281000000,12409000000,64.225,-1.558000e+10,119.089996
VZ,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-30,2370000000,264829000000,264552500000,3.463600e+10,2.301930e+11,...,4128000000,4.132000e+09,31.701,136310000000,0,3584000000,33795000000,33.021,-3.294000e+09,60.240002
V,MRY,2018-12-31,2018-09-30,2018-09-30,2019-11-16,547000000,69225000000,68399000000,1.821600e+10,5.100900e+10,...,2049000000,2.586000e+09,10.058,26473000000,0,2505000000,4618000000,12.920,6.911000e+09,184.509995
UTX,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-25,-9333000000,134211000000,112374500000,3.550300e+10,9.870800e+10,...,800400000,8.101000e+08,83.085,59675000000,1646000000,2626000000,0,74.556,4.135000e+09,148.339996
UNH,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-06,-4160000000,152221000000,153372000000,3.869200e+10,1.135290e+11,...,963000000,9.830000e+08,234.940,83986000000,0,3562000000,2474000000,87.213,-1.451700e+10,279.869995
TSLA,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-29,-8000000,29740000000,28546035500,8.307000e+09,2.143300e+10,...,170525000,1.705250e+08,125.854,29390000000,0,57837000,0,172.350,-1.686000e+09,329.940002
TRV,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-22,-1859000000,104233000000,103955500000,NaN,NaN,...,267400000,2.698000e+08,113.246,99951000000,445000000,438000000,0,373.788,NaN,136.720001
PG,MRY,2018-12-31,2018-06-30,2018-06-30,2019-10-22,-14749000000,118310000000,123043500000,2.332000e+10,9.499000e+10,...,2514599476,NaN,26.578,49233000000,0,3465000000,6163000000,19.579,-4.917000e+09,122.059998
PFE,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-07,-11275000000,159422000000,164213000000,4.992600e+10,1.094960e+11,...,5872000000,5.977000e+09,9.136,70800000000,5298000000,706000000,19702000000,12.057,1.806800e+10,38.520000
NKE,MRY,2018-12-31,2018-05-31,2018-05-31,2019-10-04,-92000000,22536000000,23197500000,1.513400e+10,7.402000e+09,...,1623800000,1.659100e+09,22.415,22097000000,2509000000,2392000000,3366000000,13.608,9.094000e+09,93.489998
MSFT,MRY,2018-12-31,2018-06-30,2018-06-30,2019-10-23,-2187000000,258848000000,252361250000,1.696620e+11,8.918600e+10,...,7700000000,7.794000e+09,14.332,215112000000,0,19903000000,32927000000,27.937,1.111740e+11,151.380005
MRK,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-05,-5545000000,82637000000,84712000000,2.587500e+10,5.676200e+10,...,2600376500,NaN,16.265,52953000000,0,2508000000,3673000000,20.364,3.669000e+09,87.180000
MMM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-25,-6866000000,36500000000,37282000000,1.370900e+10,2.279100e+10,...,588500000,6.020000e+08,55.675,23792000000,0,1637000000,243000000,40.428,6.465000e+09,169.770004
MCD,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-04,-2609500000,32811200000,33324050000,4.053200e+09,2.875800e+10,...,778200000,7.856000e+08,27.018,30479700000,0,1891800000,3778700000,39.167,1.079700e+09,194.479996
KO,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-24,-12814000000,83216000000,88242000000,2.493000e+10,5.828600e+10,...,4259000000,4.299000e+09,7.480,61629000000,2674000000,1623000000,2765000000,14.470,-3.852000e+09,53.400002
JPM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-04,-1507000000,2622532000000,2609387500000,NaN,NaN,...,3396400000,3.414000e+09,32.101,2568183000000,0,8290000000,0,756.149,NaN,131.759995
JNJ,MRY,2018-12-31,2018-12-30,2018-12-30,2019-10-28,-15222000000,152954000000,155161750000,4.603300e+10,1.069210e+11,...,2681500000,2.728700e+09,30.424,74890000000,7640000000,2702000000,16566000000,27.928,1.480300e+10,137.490005
INTC,MRY,2018-12-31,2018-12-29,2018-12-29,2019-10-25,-974000000,127963000000,127693250000,2.878700e+10,9.917600e+10,...,4611000000,4.701000e+09,15.365,91614000000,0,2264000000,6562000000,19.869,1.216100e+10,58.049999
IBM,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-30,-29490000000,123382000000,123069750000,4.914600e+10,7.423600e+10,...,912048072,9.163157e+08,87.266,84030000000,5216000000,2619000000,3046000000,92.133,1.091900e+10,134.449997
HD,MRY,2018-12-31,2019-02-03,2019-02-03,2019-11-26,-772000000,44003000000,45521250000,1.852900e+10,2.547400e+10,...,1137000000,1.143000e+09,95.165,41751000000,0,3435000000,656000000,36.720,1.813000e+09,220.509995
GS,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-01,693000000,931796000000,957782750000,NaN,NaN,...,385400000,3.902000e+08,95.008,931796000000,0,2022000000,0,2417.737,NaN,221.350006
GE,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-30,-14414000000,311072000000,330910250000,NaN,NaN,...,8698115000,NaN,13.982,264920000000,12117000000,583000000,0,30.457,NaN,11.270000
DIS,MRY,2018-12-31,2018-09-29,2018-09-29,2019-11-20,-3097000000,98598000000,98266750000,1.682500e+10,8.177300e+10,...,1499000000,1.507000e+09,39.649,60517000000,0,1663000000,3109000000,40.372,-1.035000e+09,151.580002
DD,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-31,-12394000000,187855000000,188029000000,1.266550e+11,6.120000e+10,...,766992000,7.718260e+08,112.096,138704000000,178000000,1489000000,4027000000,180.842,5.334300e+10,64.809998
CVX,MRY,2018-12-31,2018-12-31,2018-12-31,2019-11-07,-3544000000,253863000000,256210000000,3.402100e+10,2.198420e+11,...,1910774369,NaN,87.053,249345000000,0,5715000000,18486000000,130.494,6.850000e+09,117.129997
CSCO,MRY,2018-12-31,2018-07-28,2018-07-28,2019-11-19,-849000000,108784000000,121206000000,6.183700e+10,4.694700e+10,...,4837000000,4.881000e+09,10.198,74526000000,3219000000,12929000000,9589000000,15.407,3.480200e+10,45.310001
CAT,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-31,-1684000000,78509000000,78429750000,3.860300e+10,3.990600e+10,...,591400000,5.994000e+08,92.530,70395000000,1439000000,1698000000,0,119.031,1.038500e+10,144.729996
BA,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-23,-15083000000,117359000000,114690500000,8.783000e+10,2.952900e+10,...,567885369,NaN,178.076,106090000000,284000000,1144000000,1736000000,186.816,6.240000e+09,366.179993
AXP,MRY,2018-12-31,2018-12-31,2018-12-31,2019-10-21,-2597000000,188602000000,185627750000,NaN,NaN,...,856000000,8.590000e+08,43.208,188602000000,0,1201000000,0,220.329,NaN,120.120003
AAPL,MRY,2018-12-31,2018-09-29,2018-09-29,2019-11-16,-3454000000,365725000000,372304500000,1.313390e+11,2.343860e+11,...,4955377000,5.000109e+09,53.597,365725000000,0,13372000000,0,73.804,1.541000e+10,267.250000